      <div class="jumbotron">
        <img src ="<%= image_path("stock-illustration-21386094-two-bees-holding-a-jar-of-honey-with-love-heart.jpg") %>">
        <h1>Who do you want to be?</h1>
        <p class="lead">Create your to-be list. Keep track of your progress with journal entries. Share your aspirations and get inspired by others. </p>
        <a class="btn btn-primary btn-large" href="#">Get Started/a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span4">
          <h4>Identity Based Habits</h4>
          <p>The key to building lasting habits is focusing on creating a new identity first. Your current behaviors are simply a reflection of your current identity. What you do now is a mirror image of the type of person you believe that you are (either consciously or subconsciously).To change your behavior for good, you need to start believing new things about yourself.</p>
        </div>

        <div class="span4">
          <h4>Believe it</h4>
          <p>The interior of behavior change and building better habits is your identity. Each action you perform is driven by the fundamental belief that it is possible. So if you change your identity (the type of person that you believe that you are), then it’s easier to change your actions.</p>
        </div>

        <div class="span4">
          <h4>Become that person</h4>
          <p>If you’re looking to make a change, then I say stop worrying about results and start worrying about your identity. Become the type of person who can achieve the things you want to achieve. Build the habit now. The results can come later.</p>
        </div>
      </div>

      <hr>
