      <div class="jumbotron">
        <img src ="<%= image_path("stock-illustration-21386094-two-bees-holding-a-jar-of-honey-with-love-heart.jpg") %>">
        <h1>Who do you want to be?</h1>
        <p class="lead">Create your to-be list. Keep track of your progress with journal entries. Share your aspirations and get inspired by others. </p>
        <a class="btn btn-primary btn-large" href="<%= tobes_path %>">Browse Aspirations</a>
      </div>

      <hr>
