<div class ="row">
	<div class = "span-10">
		<h2>Everyone's aspirations</h2>
	</div>
	<div class = "span-2">
		<a class="btn btn-primary btn-large" href="<%= new_tobe_path %>"> New To-Be </a>
	</div>
</div>
		
<h4>
<ul>
	<% @tobes.each do | tobe | %>
		<li> 
		<a href="<%= tobe_path(tobe) %>">
			I want to be <%= tobe.title %> because <%= tobe.reason %>
		</a>
	<% end %>
</ul>
</h4>