<h1>Hello, my name is "<%= @user.email %>" <br></h1> 
<div class="row">		
	<div class="span4">
		<img src ="<%= image_path("profile-pic.png") %>">
	</div>
	<div class="span8">
		<h2>I AM</h2>
		<p> Filler text, short bio would go here. VHS kale chips meggings, quinoa Blue Bottle selfies bitters Vice PBR&B seitan you probably haven't heard of them paleo Intelligentsia cred flexitarian. Fanny pack fingerstache stumptown, American Apparel authentic Godard retro. Meh 8-bit vegan retro semiotics wayfarers dreamcatcher..</p>
		<h2>I WANT TO BE </h2> 
		<p>
		<ul>
			<li> <a href="#">first to be item goes here, it's pretty long</a> </li>
			<li> <a href="#">second to be item goes here, this one is also pretty good</a> </li>
			<li> <a href="#">the third item goes here. it's short</a> </li>
			<li> <a href="#">fourth item goes here. it's a little bit longer than the other one</a> </li>
			<li> <a href="#">fith item is a bit longer than the other one.</a> </li>
		<ul>
		</p>
	</div>
</div>
